.footer{

padding:70px 20px;

background:#0d0215;

text-align:center;

color:white;

}

.footer-content{

max-width:1000px;

margin:auto;

}

.footer h2{

font-size:38px;

color:#A56ABD;

margin-bottom:15px;

}

.footer p{

color:#d4d4d4;

margin-bottom:35px;

}

.footer-links{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.footer-links a{

display:flex;

align-items:center;

gap:10px;

padding:15px 28px;

border-radius:40px;

text-decoration:none;

color:white;

font-weight:600;

background:
linear-gradient(
90deg,
#A56ABD,
#6E3482
);

transition:.4s;

}

.footer-links a:hover{

transform:
translateY(-6px);

box-shadow:
0 15px 30px rgba(
165,
106,
189,
0.4
);

}

.copyright{

margin-top:40px;

padding-top:25px;

border-top:
1px solid rgba(
255,
255,
255,
0.1
);

display:flex;

justify-content:center;

align-items:center;

gap:10px;

flex-wrap:wrap;

color:#cfcfcf;

}

.divider{

color:#A56ABD;

font-size:20px;

}

@media(max-width:768px){

.copyright{

flex-direction:column;

}

.divider{

display:none;

}

}