.resume-btn{

position:fixed;

left:24px;

bottom:24px;

z-index:50;

}

.resume-btn a{

display:flex;

gap:10px;

align-items:center;

padding:16px 22px;

border-radius:50px;

text-decoration:none;

font-weight:bold;

background:
linear-gradient(
90deg,
#A56ABD,
#6E3482
);

color:white;

box-shadow:
0 10px 40px rgba(
73,
34,
91,
.3
);

transition:.4s;

}

.resume-btn a:hover{

transform:
translateY(-5px);

}

.top-btn{

position:fixed;

right:24px;

bottom:120px;

display:flex;

align-items:center;

gap:12px;

padding:10px 18px;

border-radius:50px;

text-decoration:none;

color:white;

background:
rgba(
73,
34,
91,
0.78
);

backdrop-filter:
blur(18px);

border:
1px solid rgba(
255,
255,
255,
0.18
);

box-shadow:
0 10px 35px rgba(
73,
34,
91,
0.3
);

z-index:50;

transition:.4s;

}

.top-btn:hover{

transform:
translateY(-6px);

background:
linear-gradient(
135deg,
#49225B,
#A56ABD
);

}

.arrow-circle{

width:45px;

height:45px;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

background:
linear-gradient(
135deg,
#A56ABD,
#6E3482
);

font-size:18px;

}

.top-btn span{

font-size:14px;

font-weight:700;

}

@media(max-width:768px){

.top-btn{

right:16px;

bottom:90px;

padding:8px 12px;

}

.top-btn span{

display:none;

}

.resume-btn{

left:16px;

bottom:16px;

}

}