.admin-messages{

padding:100px;

background:#f5ebfa;

}

.admin-messages h2{

text-align:center;

margin-bottom:50px;

font-size:40px;

color:#49225B;

}

.message-grid{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
300px,
1fr
)
);

gap:30px;

}

.message-card{

padding:25px;

background:white;

border-radius:25px;

box-shadow:
0 10px 30px rgba(
73,
34,
91,
0.1
);

}

.message-card h3{

color:#49225B;

}

.message-card p{

margin:15px 0;

color:#A56ABD;

font-weight:bold;

}

.message-card span{

color:#555;

line-height:1.7;

}