.contact{

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

padding:100px;

background:#f5ebfa;

}

.contact-left h2{

font-size:50px;

margin-top:15px;

color:#49225B;

}

.contact-tag{

color:#6E3482;

font-weight:bold;

letter-spacing:3px;

}

.contact-left span{

display:block;

margin-top:20px;

line-height:1.8;

color:#6E3482;

}

.contact-info{

margin-top:35px;

}

.contact-info h3{

margin-top:20px;

color:#49225B;

}

.contact-info a{

text-decoration:none;

font-weight:bold;

color:#A56ABD;

}

.contact-form{

padding:40px;

background:white;

border-radius:30px;

display:flex;

flex-direction:column;

gap:20px;

box-shadow:
0 20px 50px rgba(
73,
34,
91,
0.1
);

}

.contact-form input,
.contact-form textarea{

padding:18px;

border:none;

outline:none;

border-radius:15px;

background:#F5EBFA;

}

.contact-form textarea{

height:160px;

resize:none;

}

.contact-form button{

padding:18px;

border:none;

border-radius:15px;

font-size:16px;

font-weight:bold;

cursor:pointer;

color:white;

background:
linear-gradient(
90deg,
#A56ABD,
#6E3482
);

}

.contact-form button:disabled{

opacity:.7;

cursor:not-allowed;

}

.success-box{

padding:15px;

border-radius:15px;

background:
linear-gradient(
90deg,
#A56ABD,
#6E3482
);

color:white;

text-align:center;

font-weight:bold;

animation:fade .5s;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}

@media(max-width:900px){

.contact{

grid-template-columns:1fr;

padding:50px;

}

}